@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  /* font-family: "Rosario", sans-serif; */
}

.wrapper {
  width: 100%;
  min-height: 100dvh;
  background: #ffffff;
}

/* header start */
/* header end */

/* home section start */
/* home section end */
nav{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 20px;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: space-between;
}
nav button{
  width: 160px;
  height: 40px;
  background: rgba(9, 166, 109, 1);
  border: none;
  border-radius: 8px;
  color: white;
}
footer {
  margin-left: 200px;
  background: rgba(252, 254, 253, 1);
}
.sup{
  display: flex;
  gap: 100px;
  margin-left: 400px;
  margin-top: -170px;
}